/* <--! h1 specifies the header 1 in html --> */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange
}
/* this sections show how my buttons will be displayed */
.buttons { 
    display: flex;
    background-color: rgb(34, 209, 191);
    justify-content: center;
    align-content: space-around;
    align-items: center;
}
/* this section will show the main part of the webpage */
body {
    display: flex;
    background-color: rgb(34, 209, 191);
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.container
countainersound{
    display: flex;
    flex-direction: column;
}